{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The People Around You</title>
</head>
<body>
  <canvas id="canvas"></canvas>
  <script src="{% static "core/fabric.5.2.1.min.js" %}"></script>
  <script src="{% static "core/fabricjs-object-fit.beta5.umd.js" %}"></script>
  <script src="{% static "core/app.js" %}"></script>
  <script>
    {% for person in persons %}
      addPerson(
        {{ person.id }},
        '{{ person.first_name }}',
        '{{ person.last_name }}',
        '{{ person.avatar_url }}',
        {{ person.x }},
        {{ person.y }},
        {{ person.angle }},
        {{ person.scale }}
      )
    {% endfor %}
  </script>
</body>
</html>
