<div
  class="backdrop"
  style="
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.33);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 1;
  "
></div>

<div
  class="w-full max-w-lg"
  style="
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  "
>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Firstname
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="first_name"
        type="text"
        placeholder="John"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">
        Lastname
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="last_name"
        type="text"
        placeholder="Doe"
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="date_of_birth"
      >
        Date of Birth
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="date_of_birth"
        type="date"
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="profile_picture"
      >
        Profile Picture
      </label>
      <div class="flex items-center justify-between space-x-6">
        <label class="block">
          <span class="sr-only">Choose Image</span>
          <input
            type="file"
            id="profile_picture"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
          />
        </label>
        {% comment %} <div class="shrink-0">
          <img
            class="object-cover w-16 h-16 rounded-full"
            src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143__340.png"
          />
        </div> {% endcomment %}
      </div>
    </div>
    <div class="mt-6 flex items-center justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >
        Add
      </button>
    </div>
  </form>
</div>
