<div
  onclick="closeCreatePersonDialog()"
  class="backdrop"
  style="
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.33);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 1;
  "
></div>

<div
  class="w-full max-w-lg"
  style="
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  "
>
  <form
    hx-post="{% url 'create-person' %}"
    hx-target="#main-dialog"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        First Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        name="first_name"
        type="text"
        placeholder="John"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">
        Last Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        name="last_name"
        type="text"
        placeholder="Doe"
      />
    </div>
    {% comment %} <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="date_of_birth"
      >
        Date of Birth
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        name="date_of_birth"
        type="date"
      />
    </div> {% endcomment %}
    {% comment %} <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="avatar"
      >
        Profile Picture
      </label>
      <div class="flex items-center justify-between space-x-6">
        <label class="block">
          <span class="sr-only">Choose Image</span>
          <input
            type="file"
            name="avatar"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
          />
        </label>
        <div class="shrink-0">
          <img
            class="object-cover w-16 h-16 rounded-full"
            src="https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143__340.png"
          />
        </div>
      </div>
    </div> {% endcomment %}
    {% if error_form %}
      {% for field in error_form %}
        {% for error in field.errors %}
          <li class="text-red-400">
            {% if field != '__all__' %}
              <strong>{{ field.label }}:</strong>
            {% endif %}
            {{ error }}
          </li>
        {% endfor %}
      {% endfor %}
    {% endif %}
    <div class="mt-6 flex items-center justify-end">
      <button
        class="mr-3 bg-gray-300 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
        onclick="closeCreatePersonDialog()"
      >
        Cancel
      </button>
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>

<script>
  function closeCreatePersonDialog() {
    document.getElementById('main-dialog').innerHTML = '';
  }

  {% if persons %}
    closeCreatePersonDialog();
    {% include "core/_render_persons_loop.html" with persons=persons only %}
  {% endif %}
</script>
