<div id="app">
  <div>
    <v-stage
      ref="stage"
      :config="configKonva"
    >
      <v-layer ref="layer">
      <v-group
        v-for="person in persons"
        :key="person.first_name"
        :config="{
          clipFunc: clipFuncCircle,
          draggable: true,
          x: person.x,
          y: person.y,
        }"
        @dragend="onPersonMoved($event, person)"
        @touchend="onPersonMoved($event, person)"
      >
        <v-image :config="{image: person.image}" />
      </v-group>
    </v-layer>
  </div>
</div>

<script>

  const FALLBACK_AVATAR_URL = "https://img.icons8.com/wired/240/circled-user.png";

  // https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + "=")) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function httpPost(url, payload) {
    const csrftoken = getCookie('csrftoken');
    const formData = new FormData();
    for (const key of Object.keys(payload)) {
      const value = payload[key];
      formData.append(key, value);
    }
    return fetch(url, {
      method: "POST",
      headers: { "X-CSRFToken": csrftoken},
      mode: 'same-origin',
      body: formData,
    });
  }

  // Setup person list as passed from Django initially.
  const initialPersons = [
    {% for person in initial_persons %}
      {
        id: {{ person.id }},
        first_name: "{{ person.first_name }}",
        last_name: "{{ person.last_name }}",
        avatar: "{{ person.avatar }}" || FALLBACK_AVATAR_URL,
        x: {{ person.x }},
        y: {{ person.y }},
        angle: {{ person.angle }},
        scale: {{ person.scale }},
        image: null,
      },
    {% endfor %}
  ];

  function clipFuncCircle (ctx) {
    ctx.arc(150, 150, 150, 0, Math.PI * 2, false);
  }

  const app = Vue.createApp({
    delimiters: ['[[', ']]'],
    data() {
      return {
        clipFuncCircle: clipFuncCircle,
        configKonva: {
          width: window.innerWidth,
          height: window.innerHeight,
          draggable: true,
        },
        persons: initialPersons,
      };
    },
    created() {
      for (let person of this.persons) {
        const image = new Image();
        image.src = person.avatar;
        image.onload = () => {
          person.image = image;
        };
      };
    },
    mounted() {
      this.setupZoom();
    },
    methods: {
      onPersonMoved(e, person) {
        const payload = {
          x: e.target.attrs.x,
          y: e.target.attrs.y,
        };
        httpPost('/persons/' + person.id, payload);
      },
      addPerson() {
        this.persons.push(Object.assign({}, this.persons[0]));
      },
      setupZoom() {
        const stage = this.$refs.stage.getStage();
        const scaleBy = 1.12;
        stage.on('wheel', (e) => {
          // stop default scrolling
          e.evt.preventDefault();

          var oldScale = stage.scaleX();
          var pointer = stage.getPointerPosition();

          var mousePointTo = {
            x: (pointer.x - stage.x()) / oldScale,
            y: (pointer.y - stage.y()) / oldScale,
          };

          // how to scale? Zoom in? Or zoom out?
          let direction = e.evt.deltaY > 0 ? -1 : 1;

          // when we zoom on trackpad, e.evt.ctrlKey is true
          // in that case lets revert direction
          if (e.evt.ctrlKey) {
            direction = -direction;
          }

          var newScale = direction > 0 ? oldScale * scaleBy : oldScale / scaleBy;

          stage.scale({ x: newScale, y: newScale });

          var newPos = {
            x: pointer.x - mousePointTo.x * newScale,
            y: pointer.y - mousePointTo.y * newScale,
          };
          stage.position(newPos);
        });
      },
    }
  });

  app.use(VueKonva);
  app.mount('#app');

</script>

<style>
  #app {
    width: 100vw;
    height: 100vh;
  }
</style>
